:root{
    --orange:#ef6603;
    --blue:#2a2c39;
}

body {
    color: #444444;
    scroll-behavior: smooth;
}
section {
  padding: 60px 0;
  overflow: hidden;
}
/* Navbar Section */
.header {
  height: 60px;
  transition: all 0.5s;
  z-index: 100;
  background: transparent;
}
.scrolled {
  background: rgba(31, 33, 49, 0.9);
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  list-style: none;
}

.navbar a,.navbar a:focus {
  display: flex;
  align-items: center;
  padding: 8px 15px 8px 15px;
  margin-left: 5px;
  color: #fff;
  transition: 0.4s;
  text-decoration: none;
  border-radius: 40px;
}

.navbar a i, .navbar a:focus i {
  font-size: 14px;
  margin-left: 5px;
}

.navbar a:hover,.navbar .active,.navbar .active:focus,.navbar li:hover >a {
  background: var(--orange);
}


.navbar .dropdown ul {
  display: block;
  position: absolute;
  margin-top: 3px;
  line-height: 15px;
  padding: 7px 0;
  opacity: 0;
  background: #fff;
  transition: 0.4s;
  border-radius: 15px;
}

.navbar .dropdown ul li {
  min-width: 175px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: var(--blue);
  margin: 0 5px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover >a {
  color: #fff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: -90%;
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
}

.toggler {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 995px) {
  .toggler {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-responsive {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(3, 5, 35, 0.9);
  transition: 0.4s;
  z-index: 101;
}

.toggler {
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-responsive ul {
  display: block;
  position: absolute;
  top: 70px;
  right: 10px;
  bottom: 10px;
  left: 10px;

  padding: 10px 0;
  border-radius: 20px;
  background-color: #fff;
  transition: 0.4s;
}

.navbar-responsive a, .navbar-responsive a:focus {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: var(--blue);
}

.navbar-responsive a:hover,.navbar-responsive .active,
.navbar-responsive li:hover>a {
  color: #fff;
}
.navbar-responsive a:hover,.navbar-responsive .active,.navbar-responsive .active:focus,.navbar-responsive li:hover >a {
  background: var(--orange);
  border-radius: 20px;
}


.navbar-responsive .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-responsive .dropdown ul li {
  min-width: 200px;
}

.navbar-responsive .dropdown ul a {
  padding: 10px 20px;
}

.navbar-responsive .dropdown ul a i {
  font-size: 12px;
}

.navbar-responsive .dropdown ul a:hover,.navbar-responsive .dropdown ul .active:hover,.navbar-responsive .dropdown ul li:hover>a {
  color: #fff;
}

.navbar-responsive .dropdown>.dropdown-active {
  display: block;
}

/* Home Section */

#home{
    background: linear-gradient(0deg, rgb(42, 44, 57) 0%, rgb(51, 54, 74) 100%);
    padding: 0;
}

.carousel {
  height: 80vh;
  padding-top: 120px;
}

.carousel h2{
    font-size: 56px;
}
.carousel p{
    margin: 50px auto auto;
    max-width: 700px;
}
@media (max-width:992px){
    .carousel h2{
        font-size: 49px;
    }
    .carousel p{
        max-width: 80%;
    }
}
@media (max-width:786px) {
    #home{
        height: 100vh;
    }
    .carousel{
        padding-top: 40px;
    }
    .carousel p{
        max-width: 65%;
    }
}
.read-more-btn{
    margin-top: 60px;
    padding: 10px 25px;
    transition: 0.4s;
    border: 2px solid var(--orange);
}
.read-more-btn:hover{
    background-color: var(--orange);
}

.hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}


/* About Section  */

.title h4{
    letter-spacing: 2px;
}
.title h4::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}

.content ul {
  list-style: none;
  padding: 0;
}

.content ul li {
  padding-left: 28px;
  position: relative;
  margin-top: 10px;
}


.content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: var(--orange);
  line-height: 1;
}


.content .learn-more-btn {
  letter-spacing: 1px;
  padding: 12px 32px;
  margin-top: 25px;
  width: fit-content;
  transition: 0.4s;
  line-height: 1;
  color: var(--orange);
  border: 2px solid var(--orange);
}

.content .learn-more-btn:hover {
  background: var(--orange);
  color: #fff;
  text-decoration: none;
}

/* Feature Section */

#features .nav-link {
  border: 1px solid #d4d6df;
  padding: 15px;
  transition: 0.4s;
  color: var(--blue);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

#features .nav-link h4 {
  font-weight: 700;
  margin: 0;
}

#features .nav-link:hover {
  color: var(--orange);
}
#features .nav-link.active {
  background: var(--orange);
  color: #fff;
}


.tab-pane ul li {
  padding-bottom: 10px;
}

.tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--orange);
}

@media(max-width:991px){
    #features{
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  #features .nav-link i {
    padding: 0;
    line-height: 1;
    font-size: 36px;
  }
  
}

@media (max-width: 575px) {
  #features .nav-link {
    padding: 15px;
  }

  #features .nav-link i {
    font-size: 24px;
  }
} 



/* Cta Section */

#cta {
    padding: 70px 0;
    background: var(--blue);
}

@media (min-width: 769px) {
  .cta-container-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.cta-btn{
    letter-spacing: 1px;
    transition: 0.4s;
    color: #fff;
    background: var(--orange);
}

.cta-btn:hover{
    background: #fff;
    color: var(--orange);
}


/* Services Section */
.icon-box{
    padding:35px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    background: #fff;
    height: 100%;
}
.icon-box:hover{
    transform: translateY(-5px);
  box-shadow: 2px 2px 35px 5px rgba(46, 60, 101, 0.2);
}
.icon{
    position: absolute;
    left: -20px;
    top: 20%;

}
.icon i{
    font-size: 70px;
    transition: 0.5s;
}
.service-title{
    margin: 0 0 15px 50px ;
  font-weight: 700;
  
  font-size: 18px;
}
.service-title a{
    color: var(--blue);
    transition: ease-in-out 0.4s;
    text-decoration: none;
}
.service-title a:hover {
  color: var(--orange);
}
.service-content{
    font-size: 14px;
    margin: 0 50px;
    margin-left: 50px;
    line-height: 21px;
}


/* Portfolio Section  */
.filters {
  list-style: none;
  margin-bottom: 20px;
}

.filters li {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  transition: all 0.3s ease-in-out;
}

.filters li::before {
  content: "[";
  margin-right: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.filters li::after {
  content: "]";
  margin-left: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.filters li:hover,
.filters li.active-filter {
  color: var(--orange);
}

.filters li.active-filter::before,
.filters li.active-filter::after {
  color: var(--orange);
}

.portfolio-item {
  margin-bottom: 30px;
  transition: all ease-in-out 0.4s;

}

.portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio-item figure img {
  transition: all 0.8s ease-in-out;
}

.figcaption {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  transition: all ease-in-out 0.4s;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
}

.fig-title {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.sub-fig-title {
  color: #fedac0;
  font-size: 14px;
  margin-bottom: 0;
}

.preview-link,
.details-link {
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.preview-link:hover,
.details-link:hover {
  color: #fd9f5b;
}

.portfolio-item:hover .portfolio-img img {
  transform: scale(1.2);
}

.portfolio-item:hover .figcaption {
  opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--orange);
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--orange);
}

.portfolio-details .figcaption {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(42, 44, 57, 0.08);
}

.portfolio-details .figcaption h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.grid-item figure{
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}
.grid-item figure img{
    position: relative;
    width: 100%;
    display: block;
}

/* Testimonials Section  */

.testimonial-item {
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 20px 5px rgba(46, 60, 101, 0.1);
}

.testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.quote-icon {
  color: #f1dac9;
  font-size: 26px;
}

.quote-icon {
  display: inline-block;
  left: -5px;
  position: relative;
}

.quote-icon {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 0px;
}

.testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}

/* Pricing Section  */

.box{
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    position: relative;
    box-shadow: 0px 2px 20px 5px rgba(46, 60, 101, 0.1);
}
.box  h3 , .buy-btn{
    font-weight: 600;
    padding: 30px;
    color: #a09797;
    margin: 0;
    background: #f8f8f8;
}

.box h4{
    font-weight: 700;
    font-size: 30px;
    color: var(--orange);
    margin: 30px 0;
}
.box h4 span{
    font-size: 18px;
    color: #b4a9a9;
    font-weight: 500;
}
.box ul{
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}

.none{
    color: #ccc;
    text-decoration: line-through;
}

.buy-btn a{
    background: var(--orange);
    padding: 8px 35px 10px 35px;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-weight: 600;
    transition: 0.4s;
}
.buy-btn a:hover{
    background: #ea9558;
}

.active-box h3{
    background: var(--orange);
    color: #fff;
}
.active-box{
    border: 2px solid var(--orange);
}


.box .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -70px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: var(--orange);
    color: #fff;
}


/* Faq Section  */


.faq-list li {
  border-bottom: 1px solid #ececf1;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq-question {
  display: block;
  position: relative;
  font-family: var(--orange);
  font-size: 20px;
  padding-left: 25px;
  cursor: pointer;
  color: #bd5102;
  transition: 0.4s;
}

.faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 4px;
}

.faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.icon-show {
  display: none;
}

.collapsed {
  color: black;
}

.collapsed:hover {
  color: var(--orange);
}

.collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/* Teams Section  */
.team-member{
    box-shadow: 0px 2px 20px 5px rgba(46, 60, 101, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 40px;
}

.member-info{
    padding: 20px;
}
.member-info h4{
    font-weight: bold;
    font-size: 18px;
}
.member-img{
    position: relative;
}

.social-links{
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links a {
  margin: 0 3px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgba(175, 80, 12, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-links a:hover {
  background: #fc8129;
}

.social-links i {
  font-size: 18px;
}

.team-member:hover .social-links {
  opacity: 1;
  bottom: 15px;
}


/* Contact Section  */
.contact-info i {
  font-size: 20px;
  color: var(--orange);
  float: left;
  width: 44px;
  height: 44px;
  background: #ffecde;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact-info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--blue);
}

.contact-info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555974;
}

.contact-info .email,
.contact-info .phone {
  margin-top: 40px;
}

.contact-info .email:hover i,
.contact-info .address:hover i,
.contact-info .phone:hover i {
  background: var(--orange);
  color: #fff;

}
.form-control{
    border-radius: 5px;
}
.form-control:focus{
    box-shadow: none;
    border: 1px solid #c689e7;
}
.form-btn  {
    background: var(--orange);
    border: 0;
    margin-top:30px ;
    padding: 8px 35px 10px 35px;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.4s;
}
.form-btn:hover{
    background: #ea9558;
}


#footer {
  background: #14151c;
  }

#footer h3 {
  font-size: 36px;
  }


.footer-links {
  margin-bottom: 40px;
}

.footer-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--orange);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer-links a:hover {
  background: #bd5102;
  color: #fff;
  text-decoration: none;
}

.credits ,.credits a{
  font-size: 13px;
  color: #fff;
}
.credits a:hover{
    color: var(--orange);
}





